 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sortir.com</a>
      <!--  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> --> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item ">
                <a class="nav-link {% if "user" in app.request.get("_route") %} active {% endif %}" href="#"><i class="bi bi-person"></i> Utilisateurs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if "post" in app.request.get("_route") %} active {% endif %}" href="#"><i class="bi bi-megaphone"></i> Annonces</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if "tag" in app.request.get("_route") %} active {% endif %}" href="#"><i class="bi bi-list-check"></i> Services</a>
                </li>
                </li>
                 <li class="nav-item">
                <a class="nav-link {% if "tag" in app.request.get("{{path('app_logout')}}") %} active {% endif %}" href="{{path('app_logout')}}">Déconnexion</a>
                </li>
            </ul>
        
        </div>
    </div>
    </nav> 