.container-fluid.search-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}


.table-responsive {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table-hover tbody tr:hover {
    background-color: #f9f9f9;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}

.btn-outline-primary, .btn-outline-warning, .btn-outline-success, .btn-outline-danger {
    margin: 0 5px;
    padding: 5px 10px;
}

@media screen and (max-width: 900px) {
    .container-fluid.search-form {
        flex-direction: column;
    }
    .form-check-label {
        font-size: 0.9rem;
    }
    .table-responsive {
        width: 100%;
        overflow-x: auto;
    }
}
.form-label {
    font-weight: bold;
    color: #58677c;
}

legend {
    font-size: 1.5rem;
    font-weight: 500;
    color: #3e3e3e;
}

.btn-primary {
   
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
}
.btn-primary:hover {
    background-color: #007bff;
}