<form method="post" action="{{ path('app_trip_delete', {'id': trip.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trip.id) }}">
    <button class="btn">Delete</button>
</form>
