{% extends 'base.html.twig' %}

{% block title %}Villes - Créer{% endblock %}

{% block body %}
    {% include "fragments/_nav.html.twig" %}

    <div class="row my-4">
        <div class="col-6 offset-3">
            <h1 class="text-center">Créer nouvelle ville</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3">
            {% include "fragments/_flash_message.html.twig" %}
        </div>
    </div>

    <div class="row my-4">
        <div class="col-6 offset-3">
            <div class="row m-3 col-3"></div>

            <div>
                <label for="city_department" class="form-label mt-4">Département</label>
                <select class="form-select" id="city_department" name="city_department">
                    <option value="" disabled selected>Sélectionner un département</option>
                    {% for department in departments %}
                        <option value="{{ department.code }}">{{ department.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="cityName" class="form-label mt-4">Ville</label>
                <select class="form-select" id="cityName" name="cityName">
                    <option value="" disabled selected>Sélectionner une ville</option>
                </select>
            </div>

            <div>
                {{ include('city/_form.html.twig') }}
            </div>

        </div>
    </div>

    {% block javascripts %}
        <script src="{{asset('js/cityCreation.js')}}"></script>
    {% endblock %}
{% endblock %}


